<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.McAcFundRecMapper">

    <!--  Oracle BatchInsert  -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT ALL
        <foreach collection="list" item="item">
            INTO MSSAPP.MC_AC_FUND_REC (AC_FUND_RID, CMPNY_IBUSDATE, CMPNY_BUSDATE, MRKT_IBUSDATE, MRKT_BUSDATE, AC_ID,
            CCY_CDE, SEGR_FUND_ID, CMPNY_CDE, TXN_TYP_ID, VAL_DATE, AMT, IS_NON_AC_HLDR, NON_AC_HLDR_NAM, REMRK,
            BANK_CDE, BANK_OTH, BANK_REF, BANK_DATE, BANK_CLR_DATE, CHQ_PICKUP_UNIT_CDE, PAYE_NAM, OTH_AC_PAYE_NAM,
            CLNT_BANK_CDE, CLNT_BANK_AC_NUM, IS_PRT_RCPT, LAST_PRT_RCPT_TIME, LAST_PRT_RCPT_BY, CMPNY_BANK_AC_ID,
            FUND_STAT_CDE, FUND_CHNL_CDE, FUND_BAT_IMP_ID, FUND_BAT_IMP_CDE, CMPNY_CHQ_BAT_EXP_ID,
            CMPNY_CHQ_BAT_EXP_CDE, TXN_TYP_ACTN_CDE, IS_MEMO, IS_CHQ, IS_CHRG, IS_TRNFR, IS_REV, REV_AC_FUND_RID,
            IS_DHON, DHON_CHQ_AC_FUND_RID, IS_RTUN, RTUN_AC_FUND_RID, IS_UNDER_REVRSE, IS_UNDER_DHON, IS_UNDER_RTUN,
            RCPT_NUM, IS_TODAY_REV, IS_TRIG_CREAT, PRIMY_REMRK_FR_STMT, PRIMY_SYS_REMRK_FR_STMT, BASE_CCY_EQU_AMT,
            IS_AUTO_APRV, IS_IGNR_DAT_SYNC, RVIS_UNIT, RVIS_BY, RVIS_CMPNY_IBUSDATE, RVIS_CMPNY_BUSDATE,
            RVIS_MRKT_IBUSDATE, RVIS_MRKT_BUSDATE, LAST_RVIS_TIME, CHK_BY, APRV_REJ_CMPNY_IBUSDATE,
            APRV_REJ_CMPNY_BUSDATE, APRV_REJ_MRKT_IBUSDATE, APRV_REJ_MRKT_BUSDATE, APRV_REJ_TIME, REJ_REASN, REVW_BY,
            REVW_CMPNY_IBUSDATE, REVW_CMPNY_BUSDATE, REVW_MRKT_IBUSDATE, REVW_MRKT_BUSDATE, REVW_TIME, REV_DHON_RTUN_BY,
            REV_DHON_RTUN_CMPNY_IBUSDATE, REV_DHON_RTUN_CMPNY_BUSDATE, REV_DHON_RTUN_MRKT_IBUSDATE,
            REV_DHON_RTUN_MRKT_BUSDATE, REV_DHON_RTUN_TIME, IS_ELECTRONIC, IS_WORK, AC_FUND_TXN_RID, INSTCL_ID, MRKT_ID,
            CALNDR_ID, INSTR_BAT_GRP_ID, IS_OPERATE_IN_FUND, AC_FUND_EPAYMENT_BAT_ID, AC_FUND_EPAYMENT_BAT_CDE,
            UNSEND_TO_CPS_BY, UNSEND_TO_CPS_TIME, UNSEND_TO_CPS_CMPNY_IBUSDATE, UNSEND_TO_CPS_CMPNY_BUSDATE,
            READY_TO_CPS_BY, READY_TO_CPS_TIME, READY_TO_CPS_CMPNY_IBUSDATE, READY_TO_CPS_CMPNY_BUSDATE, SEND_TO_CPS_BY,
            SEND_TO_CPS_TIME, SEND_TO_CPS_CMPNY_IBUSDATE, SEND_TO_CPS_CMPNY_BUSDATE, DOWNLOAD_BY, DOWNLOAD_TIME,
            DOWNLOAD_CMPNY_IBUSDATE, DOWNLOAD_CMPNY_BUSDATE, EXTRNL_MOD_CDE, EXTRNL_MOD_KEY, EXTRNL_TXN_REF_NUM,
            IS_INSTR_RELT, IS_POST, REC_VER_NUM, INIT_TIME, LAST_UPD_TIME, LAST_UPD_BY, TAG_SEQ, EXTRNL_REF_NUM,
            EXTRNL_SYS_CDE, FUNTRF_AC_ID, FUNTRF_SEGR_FUND_ID, OTH_CLNT_BANK_CDE, OTH_CLNT_BANK_AC_NUM, INIT_USER,
            INIT_USER_UNIT, PAYE_TYP_CDE, FUND_DPST_BY_CDE, DPST_NAM, IS_REACT, REACT_AC_FUND_RID, REACT_BY,
            REACT_CMPNY_IBUSDATE, REACT_CMPNY_BUSDATE, REACT_MRKT_IBUSDATE, REACT_MRKT_BUSDATE, REACT_TIME,
            IS_UNDER_REACT, BANK_REPLY_DPST_STAT_CDE, BANK_REPLY_DPST_BY_CDE, BANK_REPLY_DPST_NAM, BANK_REPLY_TIME,
            IS_NON_REG_BANK_AC, FUND_TP_SCOPE_TYP_CDE, FUND_TP_RELTN_CDE, CHK_BY_2)
            VALUES ( #{item.acFundRid,jdbcType=BIGINT}, #{item.cmpnyIbusdate,jdbcType=TIMESTAMP},
            #{item.cmpnyBusdate,jdbcType=TIMESTAMP}, #{item.mrktIbusdate,jdbcType=TIMESTAMP},
            #{item.mrktBusdate,jdbcType=TIMESTAMP}, #{item.acId,jdbcType=VARCHAR}, #{item.ccyCde,jdbcType=VARCHAR},
            #{item.segrFundId,jdbcType=BIGINT}, #{item.cmpnyCde,jdbcType=VARCHAR}, #{item.txnTypId,jdbcType=BIGINT},
            #{item.valDate,jdbcType=TIMESTAMP}, #{item.amt,jdbcType=DECIMAL}, #{item.isNonAcHldr,jdbcType=VARCHAR},
            #{item.nonAcHldrNam,jdbcType=VARCHAR}, #{item.remrk,jdbcType=VARCHAR}, #{item.bankCde,jdbcType=VARCHAR},
            #{item.bankOth,jdbcType=VARCHAR}, #{item.bankRef,jdbcType=VARCHAR}, #{item.bankDate,jdbcType=TIMESTAMP},
            #{item.bankClrDate,jdbcType=TIMESTAMP}, #{item.chqPickupUnitCde,jdbcType=VARCHAR},
            #{item.payeNam,jdbcType=VARCHAR}, #{item.othAcPayeNam,jdbcType=VARCHAR},
            #{item.clntBankCde,jdbcType=VARCHAR}, #{item.clntBankAcNum,jdbcType=VARCHAR},
            #{item.isPrtRcpt,jdbcType=VARCHAR}, #{item.lastPrtRcptTime,jdbcType=TIMESTAMP},
            #{item.lastPrtRcptBy,jdbcType=VARCHAR}, #{item.cmpnyBankAcId,jdbcType=BIGINT},
            #{item.fundStatCde,jdbcType=VARCHAR}, #{item.fundChnlCde,jdbcType=VARCHAR},
            #{item.fundBatImpId,jdbcType=BIGINT}, #{item.fundBatImpCde,jdbcType=VARCHAR},
            #{item.cmpnyChqBatExpId,jdbcType=BIGINT}, #{item.cmpnyChqBatExpCde,jdbcType=VARCHAR},
            #{item.txnTypActnCde,jdbcType=VARCHAR}, #{item.isMemo,jdbcType=VARCHAR}, #{item.isChq,jdbcType=VARCHAR},
            #{item.isChrg,jdbcType=VARCHAR}, #{item.isTrnfr,jdbcType=VARCHAR}, #{item.isRev,jdbcType=VARCHAR},
            #{item.revAcFundRid,jdbcType=BIGINT}, #{item.isDhon,jdbcType=VARCHAR},
            #{item.dhonChqAcFundRid,jdbcType=BIGINT}, #{item.isRtun,jdbcType=VARCHAR},
            #{item.rtunAcFundRid,jdbcType=BIGINT}, #{item.isUnderRevrse,jdbcType=VARCHAR},
            #{item.isUnderDhon,jdbcType=VARCHAR}, #{item.isUnderRtun,jdbcType=VARCHAR},
            #{item.rcptNum,jdbcType=VARCHAR}, #{item.isTodayRev,jdbcType=VARCHAR}, #{item.isTrigCreat,jdbcType=VARCHAR},
            #{item.primyRemrkFrStmt,jdbcType=VARCHAR}, #{item.primySysRemrkFrStmt,jdbcType=VARCHAR},
            #{item.baseCcyEquAmt,jdbcType=DECIMAL}, #{item.isAutoAprv,jdbcType=VARCHAR},
            #{item.isIgnrDatSync,jdbcType=VARCHAR}, #{item.rvisUnit,jdbcType=VARCHAR}, #{item.rvisBy,jdbcType=VARCHAR},
            #{item.rvisCmpnyIbusdate,jdbcType=TIMESTAMP}, #{item.rvisCmpnyBusdate,jdbcType=TIMESTAMP},
            #{item.rvisMrktIbusdate,jdbcType=TIMESTAMP}, #{item.rvisMrktBusdate,jdbcType=TIMESTAMP},
            #{item.lastRvisTime,jdbcType=TIMESTAMP}, #{item.chkBy,jdbcType=VARCHAR},
            #{item.aprvRejCmpnyIbusdate,jdbcType=TIMESTAMP}, #{item.aprvRejCmpnyBusdate,jdbcType=TIMESTAMP},
            #{item.aprvRejMrktIbusdate,jdbcType=TIMESTAMP}, #{item.aprvRejMrktBusdate,jdbcType=TIMESTAMP},
            #{item.aprvRejTime,jdbcType=TIMESTAMP}, #{item.rejReasn,jdbcType=VARCHAR}, #{item.revwBy,jdbcType=VARCHAR},
            #{item.revwCmpnyIbusdate,jdbcType=TIMESTAMP}, #{item.revwCmpnyBusdate,jdbcType=TIMESTAMP},
            #{item.revwMrktIbusdate,jdbcType=TIMESTAMP}, #{item.revwMrktBusdate,jdbcType=TIMESTAMP},
            #{item.revwTime,jdbcType=TIMESTAMP}, #{item.revDhonRtunBy,jdbcType=VARCHAR},
            #{item.revDhonRtunCmpnyIbusdate,jdbcType=TIMESTAMP}, #{item.revDhonRtunCmpnyBusdate,jdbcType=TIMESTAMP},
            #{item.revDhonRtunMrktIbusdate,jdbcType=TIMESTAMP}, #{item.revDhonRtunMrktBusdate,jdbcType=TIMESTAMP},
            #{item.revDhonRtunTime,jdbcType=TIMESTAMP}, #{item.isElectronic,jdbcType=VARCHAR},
            #{item.isWork,jdbcType=VARCHAR}, #{item.acFundTxnRid,jdbcType=BIGINT}, #{item.instclId,jdbcType=BIGINT},
            #{item.mrktId,jdbcType=BIGINT}, #{item.calndrId,jdbcType=BIGINT}, #{item.instrBatGrpId,jdbcType=BIGINT},
            #{item.isOperateInFund,jdbcType=VARCHAR}, #{item.acFundEpaymentBatId,jdbcType=BIGINT},
            #{item.acFundEpaymentBatCde,jdbcType=VARCHAR}, #{item.unsendToCpsBy,jdbcType=VARCHAR},
            #{item.unsendToCpsTime,jdbcType=TIMESTAMP}, #{item.unsendToCpsCmpnyIbusdate,jdbcType=TIMESTAMP},
            #{item.unsendToCpsCmpnyBusdate,jdbcType=TIMESTAMP}, #{item.readyToCpsBy,jdbcType=VARCHAR},
            #{item.readyToCpsTime,jdbcType=TIMESTAMP}, #{item.readyToCpsCmpnyIbusdate,jdbcType=TIMESTAMP},
            #{item.readyToCpsCmpnyBusdate,jdbcType=TIMESTAMP}, #{item.sendToCpsBy,jdbcType=VARCHAR},
            #{item.sendToCpsTime,jdbcType=TIMESTAMP}, #{item.sendToCpsCmpnyIbusdate,jdbcType=TIMESTAMP},
            #{item.sendToCpsCmpnyBusdate,jdbcType=TIMESTAMP}, #{item.downloadBy,jdbcType=VARCHAR},
            #{item.downloadTime,jdbcType=TIMESTAMP}, #{item.downloadCmpnyIbusdate,jdbcType=TIMESTAMP},
            #{item.downloadCmpnyBusdate,jdbcType=TIMESTAMP}, #{item.extrnlModCde,jdbcType=VARCHAR},
            #{item.extrnlModKey,jdbcType=VARCHAR}, #{item.extrnlTxnRefNum,jdbcType=VARCHAR},
            #{item.isInstrRelt,jdbcType=VARCHAR}, #{item.isPost,jdbcType=VARCHAR}, #{item.recVerNum,jdbcType=BIGINT},
            #{item.initTime,jdbcType=TIMESTAMP}, #{item.lastUpdTime,jdbcType=TIMESTAMP},
            #{item.lastUpdBy,jdbcType=VARCHAR}, #{item.tagSeq,jdbcType=BIGINT}, #{item.extrnlRefNum,jdbcType=VARCHAR},
            #{item.extrnlSysCde,jdbcType=VARCHAR}, #{item.funtrfAcId,jdbcType=VARCHAR},
            #{item.funtrfSegrFundId,jdbcType=BIGINT}, #{item.othClntBankCde,jdbcType=VARCHAR},
            #{item.othClntBankAcNum,jdbcType=VARCHAR}, #{item.initUser,jdbcType=VARCHAR},
            #{item.initUserUnit,jdbcType=VARCHAR}, #{item.payeTypCde,jdbcType=VARCHAR},
            #{item.fundDpstByCde,jdbcType=VARCHAR}, #{item.dpstNam,jdbcType=VARCHAR}, #{item.isReact,jdbcType=VARCHAR},
            #{item.reactAcFundRid,jdbcType=BIGINT}, #{item.reactBy,jdbcType=VARCHAR},
            #{item.reactCmpnyIbusdate,jdbcType=TIMESTAMP}, #{item.reactCmpnyBusdate,jdbcType=TIMESTAMP},
            #{item.reactMrktIbusdate,jdbcType=TIMESTAMP}, #{item.reactMrktBusdate,jdbcType=TIMESTAMP},
            #{item.reactTime,jdbcType=TIMESTAMP}, #{item.isUnderReact,jdbcType=VARCHAR},
            #{item.bankReplyDpstStatCde,jdbcType=VARCHAR}, #{item.bankReplyDpstByCde,jdbcType=VARCHAR},
            #{item.bankReplyDpstNam,jdbcType=VARCHAR}, #{item.bankReplyTime,jdbcType=TIMESTAMP},
            #{item.isNonRegBankAc,jdbcType=VARCHAR}, #{item.fundTpScopeTypCde,jdbcType=VARCHAR},
            #{item.fundTpReltnCde,jdbcType=VARCHAR}, #{item.chkBy2,jdbcType=VARCHAR})
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

</mapper>
