<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.McAcFundTxnRecMapper">

    <!--  Oracle BatchInsert  -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT ALL
        <foreach collection="list" item="item">
            INTO MSSAPP.MC_AC_FUND_TXN_REC (AC_FUND_TXN_RID, FUND_STAT_CDE, IS_REV, REV_AC_FUND_TXN_RID, REC_VER_NUM,
            INIT_TIME, LAST_UPD_TIME, LAST_UPD_BY, TAG_SEQ)
            VALUES ( #{item.acFundTxnRid,jdbcType=BIGINT}, #{item.fundStatCde,jdbcType=VARCHAR},
            #{item.isRev,jdbcType=VARCHAR}, #{item.revAcFundTxnRid,jdbcType=BIGINT}, #{item.recVerNum,jdbcType=BIGINT},
            #{item.initTime,jdbcType=TIMESTAMP}, #{item.lastUpdTime,jdbcType=TIMESTAMP},
            #{item.lastUpdBy,jdbcType=VARCHAR}, #{item.tagSeq,jdbcType=BIGINT})
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

</mapper>
