<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.McCommRuleMapper">

    <!--  Oracle BatchInsert  -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT ALL
        <foreach collection="list" item="item">
            INTO MSSAPP.MC_COMM_RULE (COMM_RULE_ID, COMM_RULE_CDE, COMM_RULE_DESCR, COMM_FR_CDE, COMM_TYP_CDE,
            EXCH_GRP_ID, MRKT_ID, MRKT_GRP_ID, COMM_INSTR_TYP_GRP_CDE, SUBMRKT_ID, INSTCL_ID, TRAD_CCY_CDE,
            COMM_CHNL_GRP_ID, CLNT_CLASS_CDE, COMM_CALC_MTD_ID, IS_OBSOL, CMPNY_CDE, REC_VER_NUM, INIT_TIME,
            LAST_UPD_TIME, LAST_UPD_BY, TAG_SEQ)
            VALUES (#{item.commRuleId,jdbcType=BIGINT}, #{item.commRuleCde,jdbcType=VARCHAR},
            #{item.commRuleDescr,jdbcType=VARCHAR}, #{item.commFrCde,jdbcType=VARCHAR},
            #{item.commTypCde,jdbcType=VARCHAR}, #{item.exchGrpId,jdbcType=BIGINT}, #{item.mrktId,jdbcType=BIGINT},
            #{item.mrktGrpId,jdbcType=BIGINT}, #{item.commInstrTypGrpCde,jdbcType=VARCHAR},
            #{item.submrktId,jdbcType=BIGINT}, #{item.instclId,jdbcType=BIGINT}, #{item.tradCcyCde,jdbcType=VARCHAR},
            #{item.commChnlGrpId,jdbcType=BIGINT}, #{item.clntClassCde,jdbcType=VARCHAR},
            #{item.commCalcMtdId,jdbcType=BIGINT}, #{item.isObsol,jdbcType=VARCHAR}, #{item.cmpnyCde,jdbcType=VARCHAR},
            #{item.recVerNum,jdbcType=BIGINT}, #{item.initTime,jdbcType=TIMESTAMP},
            #{item.lastUpdTime,jdbcType=TIMESTAMP}, #{item.lastUpdBy,jdbcType=VARCHAR}, #{item.tagSeq,jdbcType=BIGINT})
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

</mapper>
